
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
}

#welcome-message {
    text-align: center;
    margin: 2vh;
    line-height: 5vh;
}

#post-container {
    display: grid;
    row-gap: 20px;
    margin: 20px;
}

 

.color-box {
    width: 100px;
    height: 100px;
    justify-items: center;
    align-items: center;
}