
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
}

form {
    margin: 10px;
    
    input {
        margin: 10px;
    }

    #login-submit {
        padding: 5px;
    }
}

#welcome-message {
    text-align: center;
    margin: 2vh;
    line-height: 5vh;
}

#login-btn {
    text-align: center;
    
    button {
        padding: 5px;
    }
}

#logout-btn {
    text-align: center;
    
    button {
        padding: 5px;
    }
}

#post-container {
    display: grid;
    row-gap: 20px;
    margin: 20px;
}

 

.color-box {
    width: 150px;
    height: 150px;
    justify-items: center;
    align-items: center;
}